
/***Responsive_tablette***/

body {
    margin: 40px 70px 0px 70px;
    padding: 0;
}

.container .filtres1 {
    font-size: 11px;
}

/**Hébergements**/

.container_section_aside{
    display: block;
}

.section_hebergements {
    margin: 48px 0px 49px 0px;
    padding: 0px 0px 0px 0px;
}

.container_hebergements {
    margin-top: 20px;
}
    
.section_hebergements h2 {
    padding: 30px 0px 0px 29px;
}

/**Responsive Tablettes**/ 

.container_card {
    margin: 20px;
}

.container_section {
    margin-right: 0px;
}

.afficher {
    margin: 0px 0px 47px 27px;
    padding: 20px 0px 46px 20px;
}

.card {
    width: 194px;
}

/**Populaires**/

.container_populaires {
    margin: 0px;
    padding: 1px 2px 22px 0px;
}
.container_card2 {
    display: flex;
    padding: 0;
}

aside img {
    width: 90px;
}

.title_populaires {
    margin: 10px 48px 12px 35px;
    padding: 0;
}

/**Activités à Marseille**/
    
.activites_a_marseille {
    margin: 74px 0px 55px 0px;
}

.images {
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin-top: 32px;
}

.img_h3 {
    height: 321px;
    width: 170px;
}

.images .img_h3 img {
    width: 170px;
    height: 258px;
}

.colonnes .h3_3 {
    margin: 10px;
}

.colonnes .h3_4 {
    margin: 10px;
}
