/***police***/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");  


@font-face {        
 
  font-family: "Raleway";
  src: url();
}

/***Snippet for box-sizing prefixes***/

 *{  
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -moz-box-sizing: border-box;
    /* Firefox, others Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, others WebKit */
}
/***root***/

:root {                       

    --white: white;
    --blue: #0065FC;
    --light_blue: #DEEBFF;
    --grey: #F2F2F2;
    --grey-border: #D9D9D9;
    --box-shadow: #0000002e;
 }

body{
    font-family: 'Raleway', sans-serif;
    margin: 17px auto;
    padding: 30px;
    max-width: 1400px;
    line-height: 1.25;
}

/***Header***/

.logo {
    height: 24px;
    width: 77px;
    object-fit: cover;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}
  
nav ul li a {
    padding: 60px 50px 20px 67px;
    font-weight: 400;
}
  
nav ul li a:hover {
    border-top: 3px solid var(--blue);
    color: var(--blue);
}

a {
    text-decoration: none;
    color: inherit;
}

/**titre 1**/
h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}

header p{
    font-size: 13px;
    margin-top: 2px;
}
/***formulaire***/

form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 17px;
}
.research_input {
    border: solid 1px var(--grey);
    padding: 7.7px 10px;
    font-weight: normal;
}

.research_input::placeholder{
    color: black ;
    font-weight: 700;
    opacity: 1;
    font-size: 15px;
    line-height: 21px;
    margin-left: 10px;
}

.button {
    background-color: var(--blue);
    color: #ffffff;
    border-radius: 0px 15px 15px 0;
    border: none;
    width: 100px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    border-radius: 15px 0 0 15px;
    background-color: var(--grey);
}

.fa-magnifying-glass{
    display: none;
}

/**filtres**/

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    margin-bottom: 18px;
}

.container i{
    background-color: var(--grey);
    border-radius: 100%;
    height: 10px;
    width: 10px;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: var(--blue);
    margin-right: 14px;
}

.container div {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-right: 22px;
    border: 1px solid var(--grey-border);
    border-radius: 20px;
    margin: 15px;
    transition-duration: 0.1s;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.container div:hover {
   background-color: var(--light_blue);
}

/***Informations***/

.fa-solid.fa-info{
    color: var(--blue);
    border-radius: 50px;
    border: 2px solid var(--grey-border);
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 14px;
}

.infos p {
    display: initial;
    padding-top: 8px;
}

.infos {
    display: inline;
}

/***Cards hébergements à Marseille***/

.container_section_aside {
    display: flex;
}

.title_sectionh2 {
    margin-left: 16px;
}

.section_hebergements {
    flex: 2;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 16px;
    margin: 20px 36px 36px 0px;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    background-color : var(--white);
    box-shadow: 0 4px 4px 0 black;
    transition: 0.3s;
    border-radius: 20px;
    margin: 16px auto;
    padding: 10px;
}

h2 {
    font-size: 18px;
}

.section1_part1 h2 {
    margin-left: 15px;
    margin-top: 1px;
}

article a {
    color: black;
    font-size: small;
}

.card h3 {
    margin-top: 2px;
    padding-top: 3px;
    margin-bottom: -9px;
    padding-bottom: 1px;
    font-size: 14;
}

.card img {
    border-radius: 8px 8px  0px 0px;
    width: 196px;
    height: 103px;
    padding: 0px;
    margin: -4px;
    object-fit: cover;
}

.star {
    font-size: 10px;
}

.back_icon {
    color: var(--blue);
}

.grey_star{
    color: var(--grey);
}

.afficher {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 36px;
    margin-top: 30px;
}

.section1_text p {
    font-size: 10px;
}

/**cards populaires**/


.title_populaires {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 23px 0px 23px;
    margin: 22px;
}

.fa-chart-line {
    color: var(--blue);
}

.container_populaires {
    background-color: var(--grey);
    border-radius: 20px;
    margin: 20px 0px 38px 38px;
}

.container_card2 {
    padding : 0px 40px 20px 40px;
}

.populaires {
    flex: 1;
}

.card2 {
    height: 143px;
    width: 282px;
    background-color : var(--white);
    box-shadow: 0 4px 4px 0 black;
    transition: 0.3s;
    border-radius: 20px;
    margin: 0px 15px 15px 15px;
    padding: 3px;
}

aside img {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 114px;
    height: 138px;
    object-fit: cover;
}

.info_card2{
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.info_card2 h3{
    margin-top: -132px;
    padding-top: 7px;
    margin-left: 110px;
    padding-left: 10px;
    font-size: 14px;
}

.info_card2 p {
    margin-left: 110px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 10px;
}

.star_populaires p{
    margin-left: 110px;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 10px;
}

/***Activités à Marseille**/

.main.activites{
    margin-top: 188px;
}

.activites_a_marseille {
    margin-left: 3%;
    font-size: 21px;
}

.images {
    display: flex;
    font-size: small;
}

.main_activites h2 {
    margin-top: 40px;
    padding-left: 10px;
    margin-bottom: -30px;
}

.images .img_h3 img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.img_h3 {
    height: 386px;
    width: 255px;
    background-color : var(--white);
    box-shadow: 0 4px 4px 0 var(--grey);
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 10px;
    padding:0;
    margin: 55px;
    margin-left: 2px;
}

.img_h3 h3 {
    margin-left: 10px;
}

/***footer***/

footer {
    background-color: var(--grey);
    width: 100%;
    height: 210px;
    margin-top: 50px;
}

.footer_container {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.footer_colums {
    padding: 21px 26px;
    flex: auto;
    color: black;
}

footer ul {
    display: block;
}

.footer_colums ul {
    color: black;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
}

footer h2 {
    font-size: 13px;
}

footer a {
    color: black;
}

footer li {
    color: black;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***Responsive_tablette***/

@media screen and (max-width: 992px) {
    body {
        padding-left: 2,5%;
        padding-right: 2,5%;
        margin: 40px;
        padding: 0;
    }
    .container_section_aside{
        display: block;
    }
    
   .populaires .card2 {
        display: flex;
        align-items: center;
    }
    
   .section_hebergements .container_card{
        margin-left: 38px;
    }

    .section_hebergements h2 {
        margin-left: 38px;
    }

    .container_section {
        margin-right: 0px;
    }

    .card {
        margin: 30px;
    }

    .container_populaires {
        margin: 10px;
    }

    .container_card2 {
        display: flex;
    }

   .title_populaires {
        margin: 10px 48px 12px 35px;
    
   }

   .img_h3 {
        width: 182px;
        height: 267px;
        margin-bottom: 50px;
        padding-bottom: 50px;
   }

   footer {
        width: 907px;
        height: 225px;
        margin-top: 135px;
   }
   

   
}