body{
    font-family:'Raleway', sans-serif;
    padding-top: Opx;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 15px;
}

.logo{
    width: 5%;
}
.nav {
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergements {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: center;
}

#hebergements-activites {
    display: flex;
    width: 30%;
}

#activites {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: center;
}


.link_1:hover{
    border-top: #0080ff 2px solid;
   }

.link_1 {
    color: #000000;
    text-decoration: none;
    
}

.link_2 {
    text-decoration: none;
    
}

H1 {
    font-size: 15px;
    font-weight: heavy;
}

p {
    font-size: 10px;
}

.research_input {
    border: none;
    height: 43px;
    width: 120px;
    font-weight: bold;
}

.button {
    background-color: #0065FC;
    color: #ffffff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: none;
    width: 100px;
    height: 33px;
}

#research_glass {
    display: none;
}

#location {
    width: 9px;
    height: 10px;
    border-radius: 7px 0 0 7px;
    background-color: #d3d3d3;
}












