@media screen and (max-width: 768px) {

    body {
        margin: 10px 0px 0px 0px;
    }

    /**Header**/

    .container_header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        display: block;
        margin: 10px auto;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding-left: 0px;
        margin-top: 50px;
    }

    nav ul li {
        width: 50%;
        height: 44px;
        text-align: center;
        border-bottom: 2px solid var(--grey)
    }

    nav ul li a {
        padding: 60px 40px 30px 23px;
    }

    nav ul li a:hover {
        border-top: none;
    }

    nav ul li:hover {
        border-bottom: 3px solid var(--blue);
        color: var(--blue);
    }

    h1 {
        font-size: 18px;
        margin: 0px 0px 13px 0px;
    }

    h2 {
        font-size: 16px;
    }

    header p {
        margin-bottom: 18px;
    }
    
    .header_infos {
        padding: 10px;
    }

    /**Header Recherche**/

    .button {
        display: none;
    }
    
    form {
        display: flex;
    }

    .fa-magnifying-glass {
        background-color: var(--blue);
        color: white;
        width: 42px;
        height: 41px;
        font-weight: bold;
        border: none;
        border-radius: 0px 18px 18px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }  

    #location {
        height: 43px;
    }

    .research_input {
        padding: 10.7px 10px;
    }
    
    /**Header Filtres**/

    .container .filtres {
        flex-wrap: wrap;
        width: 100%;
    }

    .container .filtres1 {
        width: 42%;
        font-size: 11px;
        margin: 4px;
    }

    /**Infos**/

    
    .fa-solid.fa-info {
        padding: 1px 7px;
        font-weight: 600;
    }
       
    /**Populaires et hébergements**/
    
    .container_section_aside {
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires {
        margin-top: 18px;
    }

    .container_populaires {
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 0px;
    }

    .container_card2 {
        flex-direction: column;
        padding: 0;
        margin-bottom: 20px;
    }

    .title_populaires {
        margin: auto;
    }

    .title_populaires h2 {
        margin-right: 118px;
    }

    .card2 {
        margin: 15px auto;
        width: 279px;
    }
    
    .section_hebergements {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin: auto;
    }

    .section_hebergements h2{
        padding: 0px;
    }
    
    .container_hebergements {
        margin: 15px 0px 52px 0px;
    }

    .container_card {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .card {
        width: 282px;
        height: 180px;
    }

    .card img {
        width: 274px;
    }

    .afficher {
        display: none;
    }

    /**Activités à Marseille**/

    .activites_a_marseille {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;
    }

    .images {
        flex-direction: column;
        flex-wrap: nowrap;  
        margin: auto;
        margin-bottom: 32px;
    }

    .main_activites h2 {
        margin-left: 10px;
    }

    .img_h3 {
        height: 210px;
        width: 279px;
        margin: 15px;
    }

    .images .img_h3 img {
        width: 279px;
        height: 157px; 
    }

    /**Footer**/
    
    .footer_container {
        flex-wrap: nowrap;
        flex-direction: column;

    }

    .footer_colums {
        padding: 0px;
    }
}